:root {
  --base-0: #FFFFFF;
  --base-10: #E1F0FF;
  --base-20: #F1F5F8;
  --base-30: #CADBEB;
  --base-50: #E3E7EB;
  --base-60: #66B1F2;
  --base-70: #546B82;
  --base-80: #1E1E1E;
  --base-100: #000000;
  --secondary-30: #BDBCBC;
  --secondary-80: #58595B;
}